 <!DOCTYPE HTML>
<html>
    <head>
    <title> Admin Online</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        
     /*   @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */

tbody > tr {
    cursor: pointer;
}

.result{
    margin-top:20px;
}
        .bg-success {
            color: black;
        }
        .jumbotron
{   
padding-top: 20px;
padding-bottom:0px;
    margin: auto;
background-color:navajowhite;
background-size: cover;
height:120px;
 }
        tbody{
            border: solid red 1px;
        }
        </style>
    </head>
    
    
    <body>
         <br>
        <div class="container">
  <div class="page-header text-center">
    <h1>Admin Logged-In</h1>      
            </div></div>
            
        
    <br>
 <div class="container">
           <div class="jumbotron clearfix">    <h1 class=""> <i class="fa fa-user-circle"></i> Wallet<small class="text-muted">-Users</small> <a href="/logout" class="btn btn-primary pull-right " id="back-to"> <i class="fa fa-sign-out" aria-hidden="true"></i>Logout </a></h1>
     </div>
    
        <div class="table-responsive">
    <table class="table  table-hover table-bordered table-hover">
      <thead class="bg-info">
        <tr>
          <th>Username</th>
            <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Public Key</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody class="bg-white">
      <% for(i in users){ %>
        <tr>
          <td><%= users[i].username %></td>
          <td><%= users[i].email %></td>
          <td><%= users[i].firstName %></td>
          <td><%= users[i].lastName %></td>
          <td><%= users[i].publicKey %></td>
          <td><%= users[i].createdAt %></td>
        </tr>
      <% } %>
      </tbody>
    </table>  
     </div>
   
      
</div>

<!-- Modal -->
<!--
            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="text-muted fa fa-id-card"></i> <strong>Users</strong> Info </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-primary fa fa-times"></i></button>
                    
                  </div>
                  <div class="modal-body">
                  
                    <table class="table-bordered table">
                         <tbody class="bg-faded">
                             <tr>
                                 <td class="h4"> ID</td>
                                 
                                 <td class="h5">$jhdsgucdgochc$ </td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"> Email </td>
                                 
                                 <td class="h5">abc@gmail.com </td>
                             </tr>
                             
                             <tr>
                                 <td class="h4"> Password </td>
                                 
                                 <td class="h5">********** </td>
                             </tr>
                             
                             <tr>
                                 <td class="h4">Bitcoin Worth </td>
                                 
                                 <td class="h5"> 2.5 BTC </td>
                             </tr>
                             
                             <tr>
                                 <td class="h4">First-Name </td>
                                 
                                 <td class="h5">Anas </td>
                             </tr>
                             
                             <tr>
                                 <td class="h4">Last-Name </td>
                                 
                                 <td class="h5">Ayubi</td>
                             </tr>  
<!--
                             <tr>
                                 <td class="h4"><strong> </strong></td>
                                 
                                 <td class="h5"></td>
                             </tr>                            

                             -->
                   <!--         

                         </tbody>
                    </table>
                             
                         
                    <br>
                    <div class="clearfix"></div>
                   <p class="open_info hide"> User Current Bitcoin Worth in PKR and USD.</p>
                  </div>
                    
                  <div class="modal-footer">       
                      
                    <div class="text-right pull-right col-md-3">
                        USD: <br/> 
                        <span class="h3 text-muted"><strong> $50,00 </strong></span>
                    </div> 
                      
                    <div class="text-right pull-right col-md-3">
                        PKR: <br/> 
                        <span class="h3 text-muted"><strong>Rs35</strong></span>
                    </div>
                     
                </div>
              </div>
        </div></div>
        -->
            
<!-- fim Modal-->   
 <!--       
        <script>  $(function () {
    
    $('tbody > tr').on('click', function(event) {
        event.preventDefault();
        $('#myModal').modal('show');
    })
    
    $('.btn-mais-info').on('click', function(event) {
        $( '.open_info' ).toggleClass( "hide" );
    })
    
     
});  </script>
-->  
    </body>
    
    
    

</html>

<!-- The old HTML
<!DOCTYPE html>
<html>
<head>
<title>Admin Profile</title>
</head>
<body>

<h1>Admin page</h1>
<p><a href="/logout">logout</a></p>
<% for(i in users){ %>
    <p><%= users[i] %></p>
<% } %>

</body>
</html> 
-->