<!DOCTYPE html>
<html>
<head>
<title>User Profile</title>
</head>
<body>

<h1>User Profile</h1>

<a href='logout'>logout</a>

<h3>In DB</h3>
<% keys = Object.keys(user);  %>
<% for(key in keys) { %>
    <p><%= keys[key] %>: <%= user[keys[key]] %></p>
<% } %>
<h3>Rates</h3>
<p>BTCtoPKR: <%= rates.BTCtoPKR %></p>
<p>BTCtoUSD: <%= rates.BTCtoUSD %></p>

<h3>From Coinbase API</h3>
<% keys = Object.keys(coinData);  %>
<% for(key in keys) { %>
    <p><%= keys[key] %>: <%= coinData[keys[key]] %></p>
<% } %>
<h4>Coinbase balance</h4>
<% keys = Object.keys(coinData.balance);  %>
<% for(key in keys) { %>
    <p><%= keys[key] %>: <%= coinData.balance[keys[key]] %></p>
<% } %>
<h4>Coinbase native_balance</h4>
<% keys = Object.keys(coinData.native_balance);  %>
<% for(key in keys) { %>
    <p><%= keys[key] %>: <%= coinData.native_balance[keys[key]] %></p>
<% } %>

<h3>Send bitcoin</h3>
 <form action="sendbtc" method="post">
  <!-- Check for possible error messages from backend -->
  <% if(error !== null) { %>
  <p style='color: red'><%= error %></p>
  <% } else if( success !== null) { %>
  <p style='color: green'><%= success %></p>
  <% } %>
  Address to send to<br>
  <input type="text" name="address" required><br>
  Send value<br>
  <input type="text" name="btcval" required>
    <button type="submit">Send!</button>
</form>  

</body>
</html>